.fa-snowflake
{
transition: all linear;
animation: rot 2s linear infinite ;

}

@keyframes rot {
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360deg);
    } 
          
}
