<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
  </head>
  <body>
        {{>header}}
    <h1>about us {{ username }}</h1>
      {{>bootlink}}
      {{>footer}}
  </body>
</html>